
.table-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Add horizontal scrolling */
  }
  
  .table-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-input22 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; 
    min-height: 40vh;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .custom-table th {
    background-color: #007bff;
    color: white;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .custom-table td {
    color: #333;
  }
  
  .custom-table th:hover {
    background-color: #0056b3;
  }
  .export-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .export-button:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-controls button:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination-controls .active-page {
    background-color: #28a745;
  }
  
  
  /* Media query to adjust table for smaller screens */
  @media (max-width: 768px) {
    .table-container {
      padding: 10px;
    }
  
    .custom-table th, .custom-table td {
      padding: 8px 10px;
    }
  
    .custom-table {
      max-width: 100%;
      /* min-width: 100%; */
       /* Allow table to scroll horizontally */
      /* display: block;  */
      /* Break the table layout to make scrolling possible */
      /* overflow-x: auto; */
    }
  }
  